<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

RewriteCond %{HTTP_HOST} ^sikhwalclasses.com [NC]
RewriteRule ^(.*)$ http://www.sikhwalclasses.com/$1 [L,R=301]
</IfModule>